<!-- header -->
<%- include('header', {cssFilePath: '/patient-dashboard.css'}); %>

<% if (user.is_doctor === true) { %>
  <p style="font-style: italic;">You are in doctor mode</p>
<% }; %>  

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Doctor dashboard</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>ongoing consultations</h2>
      <% consultations.forEach((consultation) => { %>
        <% if (consultation.status === 'ongoing') { %>
          <p><a class="badge badge-light" href="/consultation/<%= consultation.id %>/edit">consultation <%= consultation.id %> patient: <%= consultation.patient_name %></a></p>
        <% } %> 
      <% }); %> 
      <a href="/doctor-consultations/ongoing">see all ongoing consults</a>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>requested consultations</h2>
      <% consultations.forEach((consultation) => { %>
        <% if (consultation.status === 'requested') { %>
          <p><a class="badge badge-light" href="/consultation/<%= consultation.id %>">consultation <%= consultation.id %> patient: <%= consultation.patient_name %></a></p>
        <% } %> 
      <% }); %> 
      <a href="/doctor-consultations/requested">see all requested consults</a>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>upcoming consultations</h2>
      <% consultations.forEach((consultation) => { %>
        <% if (consultation.status === 'upcoming') { %>
          <p><a class="badge badge-light" href="/consultation/<%= consultation.id %>">consultation <%= consultation.id %> patient: <%= consultation.patient_name %></a></p>
        <% } %> 
      <% }); %> 
      <a href="/doctor-consultations/upcoming">see all upcoming consults</a>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>past consultations</h2>
      <% consultations.forEach((consultation) => { %>
        <% if (consultation.status === 'ended') { %>
          <p><a class="badge badge-light" href="/consultation/<%= consultation.id %>">consultation <%= consultation.id %> patient: <%= consultation.patient_name %></a></p>
        <% } %> 
      <% }); %> 
      <a href="/doctor-consultations/ended">see all past consults</a>
    </div>
  </div>
</div>

<!-- footer -->
<%- include('footer'); %>
