<!-- header -->
<%- include('header', {cssFilePath: '/doctor-dashboard.css'}); %>

<!-- section with consultations -->
<div class="container">
  <div class="row">
    <div class="col-12">
      <h4 id="dashboard-heading">Dashboard</h4>
    </div>
  </div>
</div>

<!-- 1 container per status -->
<!-- ongoing -->
<div class="container-lg">
  <div class="row">
    <div class="col-6">
      <h5 class="badge badge-info" id="consults-badge">ongoing consultations</h5>
    </div>
    <div class="col-6" id="see-all-consults-link-col">
      <a id="see-all-consults-link" href="/doctor-consultations/ongoing" >see all ongoing consults</a>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <!-- set max size of the container storing the consultations -->
      <div class="container consultations-container overflow-auto">
        <div class="row">
          <!-- information of each consult -->
          <% consultations.forEach((consultation) => { %>
            <% if (consultation.status === 'ongoing') { %>
              <div class="col-12 col-md-6 col-lg-4">            
                <a class="consultation-anchor" href="/consultation/<%= consultation.id %>/edit">
                  <div class="container border border-info rounded consultation-container">
                    <div class="row">
                      <div class="col-4 d-flex align-items-center">
                        <img class="rounded-circle border border-secondary img-fluid doctor-photo" src="/profile-photos/<%= consultation.patient_photo %>"/>
                      </div>
                      <div class="col-8 d-flex align-items-center">
                        <p class="consultation-doctor-name"><%= consultation.patient_name %></p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12 d-flex align-items-center consultation-date-col"><p class="consultation-date">consult date: <%= consultation.date %></p></div>
                    </div>
                  </div>
                </a>
              </div>
            <% } %> 
          <% }); %> 
        </div>
      </div>      
    </div>
  </div>
</div>
<hr>

<!-- requested -->
<div class="container-lg">
  <div class="row">
    <div class="col-6">
      <h5 class="badge badge-info" id="consults-badge">requested consultations</h5>
    </div>
    <div class="col-6" id="see-all-consults-link-col">
      <a id="see-all-consults-link" href="/doctor-consultations/requested">see all requested consults</a>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <!-- set max size of the container storing the consultations -->
      <div class="container consultations-container overflow-auto">
        <div class="row">
          <!-- information of each consult -->
          <% consultations.forEach((consultation) => { %>
            <% if (consultation.status === 'requested') { %>
              <div class="col-12 col-md-6 col-lg-4">            
                <a class="consultation-anchor" href="/consultation/<%= consultation.id %>">
                  <div class="container border border-info rounded consultation-container">
                    <div class="row">
                      <div class="col-4 d-flex align-items-center">
                        <img class="rounded-circle border border-secondary img-fluid doctor-photo" src="/profile-photos/<%= consultation.patient_photo %>"/>
                      </div>
                      <div class="col-8 d-flex align-items-center">
                        <p class="consultation-doctor-name"><%= consultation.patient_name %></p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12 d-flex align-items-center consultation-date-col"><p class="consultation-date">consult date: <%= consultation.date %></p></div>
                    </div>
                  </div>
                </a>
              </div>
            <% } %> 
          <% }); %> 
        </div>
      </div>      
    </div>
  </div>
</div>
<hr>

<!-- upcoming -->
<div class="container-lg">
  <div class="row">
    <div class="col-6">
      <h5 class="badge badge-info" id="consults-badge">upcoming consultations</h5>
    </div>
    <div class="col-6" id="see-all-consults-link-col">
      <a id="see-all-consults-link" href="/doctor-consultations/upcoming">see all upcoming consults</a>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <!-- set max size of the container storing the consultations -->
      <div class="container consultations-container overflow-auto">
        <div class="row">
          <!-- information of each consult -->
          <% consultations.forEach((consultation) => { %>
            <% if (consultation.status === 'upcoming') { %>
              <div class="col-12 col-md-6 col-lg-4">            
                <a class="consultation-anchor" href="/consultation/<%= consultation.id %>">
                  <div class="container border border-info rounded consultation-container">
                    <div class="row">
                      <div class="col-4 d-flex align-items-center">
                        <img class="rounded-circle border border-secondary img-fluid doctor-photo" src="/profile-photos/<%= consultation.patient_photo %>"/>
                      </div>
                      <div class="col-8 d-flex align-items-center">
                        <p class="consultation-doctor-name"><%= consultation.patient_name %></p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12 d-flex align-items-center consultation-date-col"><p class="consultation-date">consult date: <%= consultation.date %></p></div>
                    </div>
                  </div>
                </a>
              </div>
            <% } %> 
          <% }); %> 
        </div>
      </div>      
    </div>
  </div>
</div>
<hr>

<!-- past (ended) -->
<div class="container-lg">
  <div class="row">
    <div class="col-6">
      <h5 class="badge badge-info" id="consults-badge">past consultations</h5>
    </div>
    <div class="col-6" id="see-all-consults-link-col">
      <a id="see-all-consults-link" href="/doctor-consultations/ended">see all past consults</a>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <!-- set max size of the container storing the consultations -->
      <div class="container consultations-container overflow-auto">
        <div class="row">
          <!-- information of each consult -->
          <% consultations.forEach((consultation) => { %>
            <% if (consultation.status === 'ended') { %>
              <div class="col-12 col-md-6 col-lg-4">            
                <a class="consultation-anchor" href="/consultation/<%= consultation.id %>">
                  <div class="container border border-info rounded consultation-container">
                    <div class="row">
                      <div class="col-4 d-flex align-items-center">
                        <img class="rounded-circle border border-secondary img-fluid doctor-photo" src="/profile-photos/<%= consultation.patient_photo %>"/>
                      </div>
                      <div class="col-8 d-flex align-items-center">
                        <p class="consultation-doctor-name"><%= consultation.patient_name %></p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12 d-flex align-items-center consultation-date-col"><p class="consultation-date">consult date: <%= consultation.date %></p></div>
                    </div>
                  </div>
                </a>
              </div>
            <% } %> 
          <% }); %> 
        </div>
      </div>      
    </div>
  </div>
</div>
<hr>

<!-- footer -->
<%- include('footer'); %>
