<!-- header -->
<%- include('header', {cssFilePath: '/edit-consultation.css'}); %>

<div class="row">
  <div class="col-12">
    <h4 id="consultation-details-heading">Consultation Details</h4>
  </div>
</div>

<!-- static consultation details -->
<div class="container" id="general-details-form-container">
  <div class="row">
    <div class="col-12">
      <h5>General Details</h5>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h6>clinic</h6>
      <p><%= consultation.clinic.name %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h6>status</h6>
      <p><%= consultation.status %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h6>doctor</h6>
      <p>Dr <%= consultation.doctorName %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h6>patient</h6>
      <p><%= consultation.patientName %></p>
    </div>
  </div>  

  <div class="row">
    <div class="col-12">
      <h6>consultation date&time</h6>
      <p><%= consultation.date %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h6>reason for consult</h6>
      <p><%= consultation.description %></p>
    </div>
  </div>
</div>

<!-- dynamic consultation details  -->
<!-- diagnosis -->
<div class="container" id="diagnosis-container">
  <div class="row">
    <div class="col-12">
      <h5>Diagnosis</h5>
      <form action="/consultation/<%= consultation.id %>/diagnosis?_method=PUT" method="POST">
        <% if (consultation.diagnosis === null) { %>
          <textarea name="diagnosis" rows="2" class="form-control" placeholder="enter diagnosis"></textarea>
        <% } else { %> 
          <textarea name="diagnosis" rows="2" class="form-control"><%= consultation.diagnosis %></textarea>
        <% }; %>  

        <input class="btn btn-primary" type="submit" value="update" />
      </form>
    </div>
  </div>
</div>
  

<!-- prescriptions -->
<div class="container" id="prescriptions-container">
  <div class="row">
    <div class="col-12">
      <h5>Prescriptions</h5>
    </div>
  </div>

  <!-- created prescriptions -->
  <% if ('prescriptions' in consultation) { %> 
  <div class="row">
  <% consultation.prescriptions.forEach(function(prescription) { %>
    <div class="col-12">
      <div class="prescription-div">
        <h6>prescription</h6>
        <form action="/consultation/<%= consultation.id %>/prescription?_method=PUT" method="POST">
          <!-- prescription id is needed when deleting or updating it -->
          <input type="hidden" name="prescriptionId" value="<%= prescription.id %>">
          <!-- set the selected medicine to the one stored in the prescription -->
          <div class="div">
            <span>medicine:</span>
            <select name="medicine">
              <% medications.forEach(function(medication) { %>
                <% if(medication.id === prescription.medicine_id) { %> 
                  <option value="<%= medication.id %>_<%= medication.price_cents %>" selected><%= medication.name %></option>
                <% } else { %>
                  <option value="<%= medication.id %>_<%= medication.price_cents %>"><%= medication.name %></option>
                <% }; %> 
              <% }); %> 
            </select>
          </div>
          <div class="div">
            <label for="quantity">quantity:</label>
            <input type="number" id="quantity" name="quantity" min="1" value="<%= prescription.quantity %>">
          </div>
          <div class="div">
            <label for="instruction">instructions:</label>
            <textarea name="instruction" rows="2" class="form-control"><%= prescription.instruction %></textarea>
          </div>
          <input class="btn btn-primary" type="submit" formaction="/consultation/<%= consultation.id %>/prescription?_method=DELETE" value="delete" />
          <input class="btn btn-primary" type="submit" value="update" />
        </form>
      </div>         
    </div>
  <% }); %>
  </div>
  <% }; %>

  <!-- form to create a new prescription -->
  <div class="col-12">
    <div class="div" id="new-prescription-div">
      <h5>new prescription</h5>
      <form action="/consultation/<%= consultation.id %>/prescription" method="POST">
        <div class="div">
          <span>medicine:</span>
          <select name="medicine" required>
          <option value="" disabled selected hidden>choose medicine</option>
          <% medications.forEach(function(medication) { %> 
            <option value="<%= medication.id %>_<%= medication.price_cents %>"><%= medication.name %></option>
          <% }); %> 
          </select>
        </div>
        <div class="div">
           <label for="quantity">quantity:</label>
          <input type="number" id="quantity" name="quantity" min="1" required>
        </div>
        <div class="div">
          <label for="instruction">instructions:</label>
          <textarea name="instruction" rows="2" class="form-control" required></textarea>
        </div>
        
        <input class="btn btn-primary" type="submit" value="create" />
      </form>
    </div>
  </div>
</div>

<!-- consultation fees -->
<div class="container" id="consultation-fees-container">
  <div class="row">
    <div class="col-12">
      <h5>Consultations fees</h5>
      <p>consultation service: $<%= consultation.consultationPrice %></p>
      <p>medicine: $<%= consultation.medicinesPrice %></p>
      <p>total: $<%= consultation.totalPrice %></p>
    </div>
  </div>
</div>

<!-- chat box -->
<div class="container" id="chat-container">
  <div class="row">
    <div class="col-12">
      <h5>Chat</h5>
    </div>
  </div>

  <!-- sent messages -->
  <% if (messages !== null) { %>
  <div class="row">
    <div class="container" id="messages-container">
      <% messages.forEach(function(message) { %>
      <div class="row">
        <div class="col-12 text-wrap">
          <div class="message-div">
            <h6><%= message.name %></h6>
            <p><%= message.created_at %></p>
            <p><%= message.description %></p>
          </div>
        </div>
      </div>
      <% }); %>
    </div>
  </div>
  <% }; %> 

  <!-- send message form for doctor -->
  <div class="row">
    <div class="container" id="create-message-container">
      <div class="row">
        <div class="col-12">
          <form action="/consultation/<%= consultation.id %>" method="POST">
          <textarea name="message" rows="2" class="form-control"></textarea>
          <input class="btn btn-primary" type="submit" value="send message" />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- end consult button -->
<div class="container" id="end-consult-container">
  <div class="row">
    <div class="col-12">
      <form action="/consultation/<%= consultation.id %>?_method=PUT" method="POST">
        <input type="hidden" name="updatedStatus" value="ended">
        <input class="btn btn-primary" type="submit" value="end consult" />
      </form>
    </div>
  </div>
</div>


<!-- footer -->
<%- include('footer'); %>
