<!-- header -->
<%- include('header', {cssFilePath: '/profile.css'}); %>

<div class="row justify-content-center">
  <div class="col-12 col-md-8 col-lg-8 border rounded" id="form-container">
    <% if(typeof invalidMessages != 'undefined') { %>
      <ul id="invalid-messages-list">           
          <% invalidMessages.forEach((message) => { %>
          <li><%= message %></li>
          <% }); %>           
      </ul>
    <% } %>

    <form action="/profile?_method=PUT" method="POST" enctype="multipart/form-data">
      <div class="form-row justify-content-between">
      <div class="col-8 d-flex flex-column justify-content-center">
        <h4 id="profile-info-h4">Profile Info</h4> 
          <div class="form-group">
          <label for="photo">Photo</label><br />
          <input type="file" id="photo" name="photo" />
        </div>
      </div>
      <div class="col-4 col-sm-3 d-flex justify-content-xl-end">
        <div id="profile-photo-div">
          <img id="profile-photo" class="rounded-circle border border-secondary img-fluid" src="/profile-photos/<%= user.photo %>"/>
        </div>
      </div>
    </div> 
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" class="form-control" value="<%= user.name %>" required />
      </div>    
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control" value="<%= user.email %>" required />
        </div>
        <div class="form-group col-md-6">
          <label for="password">Password</label>
          <input type="text" id="password" name="password" class="form-control" placeholder="Min 6 characters" minlength="6" value="<%= user.password %>" required />
        </div>
      </div>
      <div class="form-group">
        <label for="allergies">Allergies</label>
        <textarea name="allergies" rows="1" class="form-control" placeholder="Enter nil if none" required><%= user.allergies %></textarea>
      </div>
      <% if (user.is_doctor === true) { %>
        <div class="form-group">
          <label for="doctorRegistrationNumber">Doctor registration number</label>
          <input type="number" id="doctorRegistrationNumber" name="doctorRegistrationNumber" class="form-control" value="<%= user.doctor_registration_number %>" required />
        </div>
        <div class="form-group">
          <label>Select the clinics you work at</label><br />
          <!-- for each clinic, if doctor works at the clinic, render it as selected -->
          <% clinics.forEach((clinic) => { %>
            <div class="form-check form-check-inline">
              <% if (clinic.isDoctorClinic === true) { %>
                <input class="form-check-input" type="checkbox" id="<%= clinic.id %>" name="clinicIds" value="<%= clinic.id %>" checked>
              <% } else { %>
                <input class="form-check-input" type="checkbox" id="<%= clinic.id %>" name="clinicIds" value="<%= clinic.id %>">
              <% }; %>   
              <label class="form-check-label" for="<%= clinic.id %>"><%= clinic.name %></label>
            </div>
          <% }); %>
        </div>
        <div class="form-row">
          <div class="form-group col-md-8">
            <label for="consultationPrice">Consultation price (in cents)</label>
            <input type="number" id="consultationPrice" name="consultationPrice" class="form-control" placeholder="In cents" value="<%= user.consultation_price_cents %>" required />
          </div>
        </div>
        <div class="form-group">
          <label for="bankNumber">Bank account number (to receive payments)</label>
          <input type="number" id="bankNumber" name="bankNumber" class="form-control" placeholder="Bank account number" value="<%= user.bank_number %>" required />
        </div>
      <% } %>  
      <div class="form-group">
        <label for="creditCardNumber">Credit card number</label>
        <input type="number" id="creditCardNumber" name="creditCardNumber" class="form-control" placeholder="min 13 characters" min="1000000000000" value="<%= user.credit_card_number %>" required />
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="creditCardExpiry">Credit card expiry</label>
          <input type="text" id="creditCardExpiry" name="creditCardExpiry" class="form-control" placeholder="MM/YY" pattern="[0-1][1-9]\/[0-9]{2}" maxlength="5" value="<%= user.credit_card_expiry %>" required />
        </div>
        <div class="form-group col-md-6">
          <label for="cvv">CVV</label>
          <input type="number" id="cvv" name="cvv" class="form-control" min="100" max="999" placeholder="XXX" value="<%= user.credit_card_cvv %>" required />
        </div>
      </div>


      <input type="submit" value="Update Profile" class="btn btn-primary" />
    </form>
  </div>
</div>

<!-- footer -->
<%- include('footer'); %>
